.DS_Store
*.build
/.xcodeproj
*.pem
.podspecs
.swiftpm
.swift-version
xcuserdata
.serverless
.vscode.DS_Store
/.build
/Packages
/.vscode
xcuserdata/
DerivedData/
.swiftpm/
.netrc
node_modules/
.claude/
Package.resolved
